<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hashzap</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js" integrity="sha512-Z6C1p1NIexPj5MsVUunW4pg7uMX6/TT3CUVldmjXx2kpip1eZcrAnxIusDxyFIikyM9A61zOVNgvLr/TGudOQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>   
</head>
<body>
    
        <h1>Milyzap</h1> 
        
    <div id="lista_mensagens">
        <p></p>
        <p></p>
    </div>

    <input type="text" id="usuario" placeholder="Usuario" required>
    <input type="text" id="mensagem" placeholder="Mensagem" required>

    <button id="botao">Enviar</button>

    <script type="text/javascript">
        $(document).ready(function(){

            var socket = io("192.168.18.6:5000");
            socket.on("connect", function(){
                console.log("usuario conectou");
            });

            socket.on("message", function(data){
                console.log("disparou uma mensagem");
                $("#lista_mensagens").append($("<p>").text(data));
            });

            $("#botao").on("click", function(){
                console.log("clicou no botão");
                socket.send($("#usuario").val() + ": " + $("#mensagem").val());
                $("#mensagem").val("");
                
            })
        })
    </script>
</body>
</html>